:host {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  background: #1B1C1D;
  color: #eee;
}

.messages {
  height: 100%;
  overflow: auto;
}

.prompt {
  height: 100px;
}

.message {
  border-radius: 5px;
  display: block;
  position: relative;
  width: 80%;
  margin: 15px;
  padding: 15px;
}

.bot {
  background-color: rgb(35, 35, 35);
  text-align: left;
  left: 0px;
}

.user {
  background-color: rgb(47, 47, 47);
  text-align: right;
  right: 0px;
}
