<as-split direction="horizontal" (dragStart)="onDragStart()" (dragEnd)="onDragEnd()">
  <as-split-area [size]="40">
    <app-chat (message)="handleMessage($event)" [messages]="messages()" />
  </as-split-area>
  <as-split-area [size]="60">
    <mat-tab-group class="result" #resultTabGroup>
      <mat-tab class="editor-tab" label="Code">
        @if (inBrowser()) {
          <app-editor
            [code]="code()"
            (change)="code.set($any($event).target.value)"
          />
        }
      </mat-tab>
      <mat-tab label="Preview">
        <app-preview [code]="code()" [pointerEvents]="dragging ? 'none' : 'auto'" />
      </mat-tab>
    </mat-tab-group>
  </as-split-area>
</as-split>
