:host {
  height: 100%;
}

.result {
  height: 100%;
  
}

.editor-tab {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.wrapper > * {
  width: 50%;
}
