<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>API key</mat-label>
    <input matInput [(ngModel)]="apiKey" />
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select [(ngModel)]="model">
      <mat-option value="gemini-2.0-flash-exp">Gemini</mat-option>
      <mat-option value="claude-3-5-sonnet-latest">Claude</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="{ apiKey: apiKey(), model: model() }" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
